body {
  background-color: #6E87C7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 40%
}
h1{
color:#071E5A;
width: 100%;
}
h3{
color:#071E5A;
width: 100%;
}
img{
  border-radius: 100%;
  width:12.5rem;
  height: 12.5rem;
}
